@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;

  border: 1px solid #B4BDC4;
  // padding: 11px 11px;
}



.arrows-wrapp {
  display: flex;
  gap: 16px;
}

.title-wrap {
  align-items: center;
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  // max-width: 1136px;
  max-width: 1440px;
  padding: 0 152px;
  // padding: 40px 0;
}

li, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform:uppercase;
  color: inherit;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #313237;
  letter-spacing: -0.01em;
}

// ---- header ---------

.header {
  max-width: 1440px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #E2E6E9;
  padding: 0 25px;


  &__left {
    display: flex;
    align-items: center;
  }

  &__right{
    display: flex;

    &-icon {
      // padding: 25px 25px 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 25px;
      box-shadow: -1px 0px 0px #E2E6E9;

      &:first-child {
        padding-right: 25px;

      }
    }
  }
}

.logo {
  margin-right: 64px;
}

.nav {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 64px;
    list-style: none;

    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    color: #89939A;
    position: relative;
    border-bottom: solid 3px transparent;
    transition: all 0.3s ease-in-out;
    // margin-bottom: 25px;
    // padding: 0 0 25px 0;
    padding: 27px 0 26px ;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      // padding-top: 25px;
      border-bottom: solid 3px #313237;
    }
  }

  // &__link {
  //   border-bottom: solid 3px transparent;
  //   transition: all 0.3s ease-in-out;

  //   &:hover {
  //     border-bottom: solid 3px #313237;

  //   }

  // }
}

.icons {
  height: 13px;
}

// ----- banner

.hero {
  margin-bottom: 80px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 400px;
  height: 400px;
}

.img-wrap {
  width: 1040px;
}

.banner-img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.arrow-wrap {
  height: 100%;
  border: solid 1px #B4BDC3;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  display:block;
  height: 9px;
}

.lines {
  width: 75px;
  display: flex;
  justify-content: space-between;
  // margin-top: 18px;
  margin: 18px auto;

  &__desh {
    width: 14px;
    height: 4px;
    background: #E2E6E9;

    &-active {
      background: #313237;
    }
  }
}

// -------hot prices

.hotPrices{
  margin-bottom: 80px;

  // &__title {
  //   font-weight: 700;
  //   font-size: 32px;
  //   line-height: 41px;
  //   color: #313237;
  //   letter-spacing: -0.01em;
  // }

  // &__title-wrap {

  // }
}

.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;


}


.content {
  display: flex;
  overflow: hidden;
  // flex-wrap: wrap;
  gap: 16px;
}

.card {
  border: 1px solid #E2E6E9;
  // max-width: 272px;
  width: 272px;
  padding: 32px 24px 24px;

  &__img {
    margin-bottom: 24px;

  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #313237;
    margin-bottom: 10px;
  }

  &__price {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #E2E6E9;
    gap: 8px;

    &--new {
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
      color: #313237;
    }

    &--old {
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;
      color: #89939A;
    }
  }

  &__description {
    margin-top: 16px;
    margin-bottom: 16px;

    &--name {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #89939A;
    }

    &--number {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: #313237;
    }
  }

  &__description-wrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn-wrapp {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 175px;
    padding: 10px 0;
    background: #313237;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFF;
  }

  &__favourite {
    border: 1px solid #B4BDC4;
    // padding: 13px 13px 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // height: 14px;
    // width: 40px;
  }
}

// &__right{
//   display: flex;

//   &-icon {
//     padding: 25px 25px 0 25px;
//     box-shadow: -1px 0px 0px #E2E6E9;
//   }
// }




.img {
  // background-image: url(./img/1.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  height: 208px;
}

// .arrows-wrapp{
//   display: flex;
// }

// .hotPrices-section__title-wrap {
//   display: flex;
// }

// -------------------category  ------

.category {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    gap: 16px;
  }

  &__content-card{

  }

  &__content-img {
    margin-bottom: 24px;
  }

  &__content-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #313237;
    margin-bottom: 5px;
  }

  &__content-amount {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #89939A;
  }
}
 // -----newModels ----------
 .newModels {
  margin-bottom: 80px;
 }






// ------ footer ---------------
.footer {
  padding: 25px 0;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.backToTop {
  display: flex;
  gap: 16px;


  // justify-content: center;
  align-items: center;

  &__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #89939A;

  }
}

.nav-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------- phonesPage ---------
.phonesPage {

  &__title {
    margin-bottom: 10px;
  }

  &__amount {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #89939A;
    margin-bottom: 40px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 13px;
    margin-bottom: 40px;

    // &--home {
    //   display: block;
    //   height: 14px;
    // }

    &--pageName {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #89939A;
    }

    &--arrow {
      color: #B4BDC4;
    }


  }





  &__content {
    flex-wrap: wrap;
  }
}
