// not empty
* {
  box-sizing: border-box;
}

.App {
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform:uppercase;
  color: inherit;
}

.header {
  // padding: 27px 25px 26px;
  // padding: 27px 25px 26px;
  // padding: 0 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #E2E6E9;


  &__left {
    display: flex;
    padding: 25px 0 25px 25px;
    // box-shadow: -1px 0px 0px #E2E6E9;
  }

  &__right{
    display: flex;

    &-icon {
      padding: 25px;
      box-shadow: -1px 0px 0px #E2E6E9;
    }
  }
}

.logo {
  margin-right: 64px;
  height: 245px;
}

.nav {
  display: flex;

  &__item {
    margin-right: 64px;
    list-style: none;
    // padding: 27px 25px 26px;
  }
}

.icons {
  height: 13px;
  // border-right: 1px solid #E2E6E9;
  // padding: 25px;
  // width: 64px;
  // height: 64px;
  // padding: 5px 5px ;
  box-shadow: -1px 0px 0px #E2E6E9;
}

.favourite {
  // padding: 0 25px;
  // margin-right: 55px;
  // padding: ;
  // box-shadow: -1px 0px 0px #E2E6E9;
  // border-left: 1px solid #E2E6E9;;
}






// .favoutite {
//   background-image: url(../src/img/header/heart.svg);
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .cart {
//   background-image: url(../src/img/header/cart.svg);
//   background-position: center;
//   background-repeat: no-repeat;
// }
